::-webkit-scrollbar-button {
  display: none;
}

*::-webkit-scrollbar {
  display: none;
}

@media print {
  body * {
    visibility: hidden;
  }

  #print-content,
  #print-content * {
    visibility: visible;
  }
}
